body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a:link, a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
    color: white;
  }

header, footer, .topcontainer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 0 16px 0px 16px;
    margin: 0px;

}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.topcontainer {
    display: flex;
    justify-content: space-around;
    padding: 0 16px 24px 16px;
}

.toptext {
    display: flex;
    flex-flow: column;
    max-width: 400px;
}

.topimage {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.topcontainer h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p.top, header a {
    font-size: 18px;
    color: #E5E7EB;
}

.midcontainer h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.midcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 16px 32px;
}

p.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 600px;
}

button, .calltoaction {
    background-color: #3882F6;
}

button {
    display: flex;
    flex: 0 1 auto;
    width: fit-content;
    padding: 6px 14px;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    color: #F9FAF8;
}